* {
    margin: 0 auto;
    width: 800px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

a:hover {
    color: #B82C30;
    text-transform: uppercase;
}

hr {
    margin-bottom: 30px;
    border: 2px solid;
}
.header hr:nth-child(3) {
    margin-bottom: 10px;
}

h1 hr {
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
    border-top: 2px solid;
    border-bottom: 2px solid;

}

nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

/* classes de css  */
.header {
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 35px;    
}
.header span {
    font-size: 38px;
}

.escode {
    display: none;
}

.upper {
    text-transform: uppercase;
}

/* cor textos */
.text-cinza {
    color: #464040;
}
.text-red {
    color: #B82C30;
}