* {
    margin: 0 auto;
    width: 800px;
}

hr {
    margin-bottom: 30px;
    border: 2px solid;
}
h1 hr {
    margin-top: 30px;
    margin-bottom: 0;
}
.header {
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 35px;    
}
.header span {
    font-size: 38px;

}

.escode {
    display: none;
}

.text-bg-cinza {
    color: #464040;
}
.text-bg-red {
    color: #B82C30;
}