div:nth-child(5) {
    height: 90px;
}

div:hover {
    border: 1px solid black;
}

div:nth-child(3) {
    background: blue;
    font-style: italic;
}

div:nth-child(4) {
    background: green;
}

div:nth-child(5) {
    background: orange;
    font-style: italic;
}

div:nth-child(6) {
    background: black;
}

div:nth-child(7) {
    background: yellow;
    font-style: italic;
}

h3 {
    color: crimson;
}