img {
    width: 130px;
}

.super-mario {
    position: absolute;
    z-index: 1;
    top: 80px;
}

.goomba {
    position: absolute;
    z-index: 2;
    top: 281px;
}

.baloon {
    position: absolute;
    z-index: 3;
    top: 480px;
}

.bowser {
    position: absolute;
    z-index: 4;
    top: 505px;
    left: 140px;
}

p {
    text-align: center;
    position: absolute;
    width: 15px;
    z-index: 5;
    top: 470px;
    left: 40px;
}